{
  "parser": "babel-eslint",
  "extends": "standard",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
    }
  },
  "rules": {
    "react/jsx-uses-vars": 2,
    "arrow-parens": 0
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "React"
    }
  },
  "globals": {
    "React": false,
    "ReactDOM": false
  }
}
